<!doctype html>
{% load widget_tweaks %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>Criação de Doutores</h1>
<form method="post">
    {% render_field form.name %}
    {% render_field form.age %}
    {% render_field form.crm %}
    <button type="submit">Salvar</button>
</form>
<h1>Lista de Doutores</h1>



{% for doctor in doctors %}
<ul>
    <li>{{doctor.name}}| <a href="{% url 'doctor_update' doctor.pk %}">Editar</a> | <a href="{% url 'doctor-delete' doctor.pk %}">Deletar</a></li>
</ul>
{% endfor %}

</body>
</html>